@charset "utf-8";
/* CSS Document */

* {  
	margin: 0 auto;  
	padding: 0 auto;  
	font-family: "Arial", Georgia, Serif;
}
/* Outer Element */
body {
	background-color: #D3D3D3;/*#4778A1;*/
	margin:0;
	padding:0;
}

header {
    background-color: yellow;/*#4778A1;*/
    color:white;
    text-align:center;
    padding:0px;
	height: 30px;
	width: 100%;
}

section {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

footer {
    background-color:yellow;
    color:blue;
    clear:both;
    text-align:center;
	position:fixed;
	bottom:0px;
	width: 100%;
	height: 20px;
}
/* Outer Element End */

/* Logo and Navigation Styling */
#wmh_logo {
	text-align:left;
	height:30px;
	width:298px;
	float:left;
	padding-left: 8px;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
}

#navigation a:link, #navigation a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7882AC;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation a:hover, #navigation a:active{
    background-color: #343477;
}

#navigation a.active {
    background-color: #09093B;
}

#navigation {
	float:left;
}
/* Navigation Styling End */

/* Contact Us page*/
#leave_message{
	width: 32.5%;
	height: 480px;
	padding-top: 20px;
	float: left;
	background-color: #D3D3D3;
}

#google_map{
	width: 27.5%;
	height: 480px;
	padding-top: 20px;
	float: left;
	background-color: #D3D3D3;
}

#contact_info {
	width: 25%;
	height: 340px;
	padding-top: 20px;
	float: left;
	background-color: #D3D3D3;
	margin-left: 15%;
	text-align:right;	
}

.errorMessage{
	color:red;
}

#leave_message p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

#leave_message h1 {
	text-align:right;
}

#leave_message h2 {
	text-align: center;
}

#leave_message td {
	text-align: left;
	width: 100%;
}

#message-table {
	margin-left: 0px;
	padding: 20px;
	width: 100%;
}

#commentText {
	width: 70%;
	height: 100px;
}
/* Contact Us Page End */

/* Blog Page */
#blog_home #blog_intro p {
	text-align: left;
}

#blog_home p, #blog_home li  {
	text-align: center;
    font-size: 1.5em;
}
/* Blog Page End */

/* Comparison Blog Page */


/* Comparison Blog Page End */

/* Individual Wearables */
#back-link {
	width: 10%;
	float: left;
}

#device-text {
	width: 70%;
	float: left;
}

#device-image {
	width: 20%;
	float: left;
}
/* Individual Wearables End */


