@charset "utf-8";
/* CSS Document */

/* Outer Element */
body {
	background-color: #D3D3D3;/*#4778A1;*/
	margin:0;
	padding:0;
}

header {
    background-color: yellow;/*#4778A1;*/
    color:white;
    text-align:center;
    padding:0px;
	height: 30px;
	width: 100%;
}

section {
	clear:both;
    width:100%;
	height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
}

footer {
    background-color:yellow;
    color:blue;
    clear:both;
    text-align:center;
	position:fixed;
	bottom:0px;
	width: 100%;
	height: 20px;
}
/* Outer Element End */

div.innerPadding {
	padding: 5px;
}

div.innerDivA-container {
	float: left;
	width: 300px;
	height: 100%;
}

div.innerDivB-container {
	float: left;
	width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
	height: 100%;
}
div.innerDivA-content, div.innerDivB-content {
	border: 1px solid #D3D3D3;
	margin: 0px;
}

#wmh_logo {
	text-align:left;
	height:30px;
	width:298px;
	float:left;
	padding-left: 8px;
}

#profile_pic {
	height: 200px;
	background-color:#D3D3D3;
}

#profile_info {
	width:400px;
	font-family: arial,sans-serif;
	font-size: 1.16em;
}

#stat_text {
	font-family: arial,sans-serif;
	font-size: 1.0em;
}

#jstree_div {
	background-color: #D3D3D3;
	height: -moz-calc(100% - 230px);
    height: -webkit-calc(100% - 230px);
    height: calc(100% - 230px);
	font-family: arial,sans-serif;
	font-size: 1.2em;
	border: 1px solid #D3D3D3;
	overflow: auto;
}

#jstree_div_padding {
	padding-top: 10px;
}

#btop {
	height: 200px;
	background-color: #D3D3D3;
	border: 1px solid #D3D3D3;
}

#bbottom {
	background: #FFFFFF;
	height: -moz-calc(100% - 230px);
    height: -webkit-calc(100% - 230px);
    height: calc(100% - 230px);
}

#webmyhealth-chart {
	font-size: 1.1em;
	font-weight: bold;
	height: -moz-calc(100% - 0px);
    height: -webkit-calc(100% - 0px);
	height: calc(100% - 0px);
}

#chartPadding {
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 0px;
	padding-bottom: 0px;
}

#chartPadding-outer {
	background-color: #D3D3D3;
}

#top-padding {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
}

#profile_pic_padding {
	padding-left: 49px;
	padding-right: 49px;
}

/* Navigation Styling */
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
}

#navigation a:link, #navigation a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #7882AC;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation a:hover, #navigation a:active{
    background-color: #343477;
}

#navigation a.active {
    background-color: #09093B;
}

#navigation {
	float:left;
}
/* Navigation Styling End */

/* My table styling */
#my-table {
  margin: 0 ;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#my-table thead {
  cursor: pointer;
  background: #c9dff0;
}
#my-table thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#my-table thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#my-table thead tr th.headerSortUp, #my-table thead tr th.headerSortDown {
  background: #acc8dd;
}

#my-table thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#my-table thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}

#my-table tbody tr { 
  color: #555;
}
#my-table tbody tr td {
  text-align: left;
  padding: 2px 2px;
  background: #ffffff;
}
#my-table tbody tr td.lalign {
  text-align: left;
}
